@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/my-shopping-cart.png" style="height:250px; float:left; margin-right:20px" />
    <h1>ECart</h1>

    <p class="lead">Ecart brings you the all the needs for you and ypur family.</p>
    <p><a href="https://www.asp.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome......!</h2>
        <p>
            Ecart provides you all the goods and neccesity things to everyone.
            Here you can see all the things which you need.

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Gadgets</h2>
        <p>The more You see....the more you desire.......!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Introducing to the world</h2>
        <p>You can easily find a anything in here easily search easily take.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>